@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.rpx-dot-bg {
  background-color: #fafaff;
  background-image: radial-gradient(#d6d9f3 0.8px, transparent 0.8px);
  background-size: 18px 18px;
}
.animated-dots {
  background-image: radial-gradient(#6366f1 1px, transparent 1px);
  background-size: 18px 18px;
  animation: moveDots 12s linear infinite;
}

@keyframes moveDots {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 80px 80px;
  }
}
